﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | Movie Rama</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/assets/site.min.css" rel="stylesheet" />
    @RenderSection("Head", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Movie Rama", "Index", "Movies", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("Menu")
                @Html.Action("Menu", "Languages")
            </div>
        </div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="container-fluid text-right">
            @MessagesResource.WelcomeBack:
            <a href="@Url.Action("ByUser", "Movies", new { id = ViewBag.User.Id })">@ViewBag.User.FirstName @ViewBag.User.LastName</a>
        </div>
        <br />
    }

    <div class="container body-content">
        @RenderBody()
    </div>

    <hr />
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - Nikos Printezis</p>
    </footer>

    <script src="~/Content/assets/site.min.js"></script>
    <script>
        MovieRamaApp.culture = '@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName';
    </script>
    @Html.Partial("Notifications")
    @RenderSection("Scripts", false)
    <script src="/Content/assets/js/localization/localization.@(System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName).js"></script>
</body>
</html>