﻿@{
    string controller = ViewContext.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    string action = ViewContext.RequestContext.RouteData.Values["action"].ToString().ToLower();
}

<ul class="nav navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="@((controller == "movies" && action == "index") ? "active" : string.Empty)">
            <a href="@Url.Action("Index", "Movies", new { id = string.Empty })">
                @MessagesResource.AllMoviesMenuLink
            </a>
        </li>
        <li class="@((controller == "movies" && action == "create") ? "active" : string.Empty)">
            <a href="@Url.Action("Create", "Movies")">
                @MessagesResource.NewMovieMenuLink
            </a>
        </li>
        <li class="dropdown @((controller == "account") ? "active" : string.Empty)">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                @MessagesResource.MyAccountMenuLink
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="@((controller == "account" && action == "index") ? "active" : string.Empty)">
                    <a href="@Url.Action("Index", "Account")">
                        @MessagesResource.MyProfileMenuLink
                    </a>
                </li>
                <li class="@((controller == "account" && action == "changepassword") ? "active" : string.Empty)">
                    <a href="@Url.Action("ChangePassword", "Account")">
                        @MessagesResource.ChangePasswordMenuLink
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("SignOut", "Auth")">
                        @MessagesResource.SignOutMenuLink
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="@((controller == "movies" && action == "index") ? "active" : string.Empty)">
            <a href="@Url.Action("Index", "Movies")">
                @MessagesResource.AllMoviesMenuLink
            </a>
        </li>
        <li class="@((controller == "auth" && action == "login") ? "active" : string.Empty)">
            <a href="@Url.Action("Login", "Auth")">
                @MessagesResource.LoginMenuLink
            </a>
        </li>
        <li class="@((controller == "auth" && action == "register") ? "active" : string.Empty)">
            <a href="@Url.Action("Register", "Auth")">
                @MessagesResource.RegisterMenuLink
            </a>
        </li>
    }
</ul>