﻿@if (TempData.ContainsKey("ToastrNotifications"))
{
    List<MovieRama.Web.Code.Models.ToastrNotificationModel> notifications = (List<MovieRama.Web.Code.Models.ToastrNotificationModel>)TempData["ToastrNotifications"];
    if (notifications.Any())
    {
        <script>
            @foreach(var notification in notifications)
            {
                switch(notification.Type)
                {
                    case MovieRama.Web.Code.Enums.ToastrNotificationType.Error:
                        <text>toastr.error('@notification.Message')</text>
                        break;
                    case MovieRama.Web.Code.Enums.ToastrNotificationType.Success:
                        <text>toastr.success('@notification.Message')</text>
                        break;
                    default:
                        <text>toastr.info('@notification.Message')</text>
                        break;
                }
            }
        </script>
    }
}
