﻿@model MovieRama.Core.Models.Base.PagedListBase

@{
    var newQueryString = HttpUtility.ParseQueryString(Request.Url.Query);
    int limit = 5;
}

<ul class="pagination">
    @{ newQueryString["page"] = "1"; }
    <li class="@((Model.Page == 1) ? "disabled" : string.Empty)">
        <a href="?@newQueryString">&laquo;</a>
    </li>
    @if (Model.Page > limit)
    {
        newQueryString["page"] = (Model.Page - limit).ToString();
        <li>
            <a href="?@newQueryString"><</a>
        </li>
    }
    @for (int i = Model.Page - limit + 1; i < Model.Page + limit; i++)
    {
        if (i < 1 || i > Model.TotalPages)
        {
            continue;
        }

        newQueryString["page"] = i.ToString();
        <li class="@((Model.Page == i) ? "active" : string.Empty)">
            <a href="?@newQueryString">@i</a>
        </li>
    }
    @if (Model.Page < Model.TotalPages - limit)
    {
        newQueryString["page"] = (Model.Page + limit).ToString();
        <li>
            <a href="?@newQueryString">></a>
        </li>
    }
    @{ newQueryString["page"] = Model.TotalPages.ToString(); }
    <li class="@((Model.Page == Model.TotalPages) ? "disabled" : string.Empty)">
        <a href="?@newQueryString">&raquo;</a>
    </li>
</ul>