﻿@model ModelStateDictionary

@if (!Model.IsValid)
{
    <div class="alert alert-danger alert-dismissible fade in">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <ul>
            @foreach (var modelState in Model)
                {
                foreach (var error in modelState.Value.Errors)
                    {
                    if (!string.IsNullOrEmpty(error.ErrorMessage))
                        {
                        <li>@error.ErrorMessage</li>
                    }
                }
            }
        </ul>
    </div>
}
