﻿@model MovieRama.Core.Models.MovieModel

@{
    ViewBag.Title = MessagesResource.NewMoviePageTitle;
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Partial("ValidationSummary", ViewContext.ViewData.ModelState)
        <div class="form-group">
            @Html.MRLabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.MRLabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Description, 10, 10, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index", "Movies")" class="btn btn-default">@MessagesResource.Cancel</a>
                <button type="submit" class="btn btn-primary">@MessagesResource.Submit</button>
            </div>
        </div>
    </div>
}