﻿@model MovieRama.Core.Models.MovieModel

@{
    ViewBag.Title = MessagesResource.EditMoviePageTitle;
}

@section Scripts {
    <script>
        $(function () {
            $('.movie-delete').click(function () {
                var href = $(this).attr('href');

                bootbox.confirm({
                    title: '@MessagesResource.DeleteMovie',
                    message: '@MessagesResource.DeleteMovieConfirmMessage',
                    buttons: {
                        'confirm': {
                            label: '@MessagesResource.Yes'
                        },
                        'cancel': {
                            label: '@MessagesResource.No'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            window.location = href;
                        }
                    }
                });

                return false;
            });
        });
    </script>
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Partial("ValidationSummary", ViewContext.ViewData.ModelState)
        @Html.HiddenFor(model => model.Id)
        <input type="hidden" name="languageId" value="@ViewBag.LanguageId" />

        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                @Html.Action("Languages", "Movies", new { id = Model.Id, languageId = ViewBag.LanguageId })
            </div>
        </div>

        <div class="form-group">
            @Html.MRLabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.MRLabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Description, 10, 10, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index", "Movies")" class="btn btn-default">@MessagesResource.Cancel</a>
                <a href="@Url.Action("Delete", "Movies", new { id = Model.Id })" class="btn btn-danger movie-delete">@MessagesResource.Delete</a>
                <button type="submit" class="btn btn-primary">@MessagesResource.Update</button>
            </div>
        </div>
    </div>
}