﻿@model MovieRama.Core.Models.MoviesListModel

@using MovieRama.Core.Models.Enums;
@using MovieRama.Core.Extensions;

@{
    ViewBag.Title = MessagesResource.MoviesPageTitle;

    Dictionary<MovieSortType, string> sortTypes = new Dictionary<MovieSortType, string>()
    {
        { MovieSortType.Likes, MessagesResource.LikesSortBy },
        { MovieSortType.Hates, MessagesResource.HatesSortBy },
        { MovieSortType.Date, MessagesResource.DateSortBy }
    };
}

@section Scripts {
    <script>
        $(function () {
            $('.movie-delete').click(function () {
                var href = $(this).attr('href');

                bootbox.confirm({
                    title: '@MessagesResource.DeleteMovie',
                    message: '@MessagesResource.DeleteMovieConfirmMessage',
                    buttons: {
                        'confirm': {
                            label: '@MessagesResource.Yes'
                        },
                        'cancel': {
                            label: '@MessagesResource.No'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            window.location = href;
                        }
                    }
                });

                return false;
            });

            $('.movie-vote-container').each(function () {
                var conf = {
                    userId: $(this).attr('data-user-id'),
                    movieId: $(this).attr('data-movie-id'),
                    movieCreatorId: $(this).attr('data-movie-creator-id'),
                    likes: parseInt($(this).attr('data-likes')),
                    hates: parseInt($(this).attr('data-hates')),
                    userLiked: ($(this).attr('data-user-liked') === 'True'),
                    userHated: ($(this).attr('data-user-hated') === 'True')
                };

                var el = React.createElement(MovieVote, conf);
                ReactDOM.render(el, $(this)[0]);
            });
        });
    </script>
}

@if (!Model.Collection.Any())
{
    <p class="text-center">@MessagesResource.NoMoviesFoundMessage</p>
}
else
{
    <div class="panel panel-default">
        <div class="panel-body">
            @MessagesResource.SortMoviesBy:
            @{ bool isFirst = true; }
            @foreach (var sortType in sortTypes)
            {
                MovieRama.Core.Models.Enums.SortDirection nextSortDirection = MovieRama.Core.Models.Enums.SortDirection.Asc;
                if (sortType.Key == Model.SearchModel.SortBy && Model.SearchModel.SortDirection == MovieRama.Core.Models.Enums.SortDirection.Asc)
                {
                    nextSortDirection = MovieRama.Core.Models.Enums.SortDirection.Desc;
                }

                <text>&nbsp;</text>
                if (!isFirst)
                {
                    <text>|&nbsp;</text>
                }
                isFirst = false;

                var newQueryString = HttpUtility.ParseQueryString(Request.Url.Query);
                newQueryString["sortBy"] = sortType.Key.ToString();
                newQueryString["sortDirection"] = nextSortDirection.ToString();

                <br class="visible-xs" />
                <a href="?@newQueryString">@sortType.Value</a>
                if(sortType.Key == Model.SearchModel.SortBy)
                {
                    if(Model.SearchModel.SortDirection == MovieRama.Core.Models.Enums.SortDirection.Asc)
                    {
                        <i class="fa fa-caret-up"></i>
                    }
                    else
                    {
                        <i class="fa fa-caret-down"></i>
                    }
                }
            }
        </div>
    </div>

    foreach (var movie in Model.Collection)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">@movie.Title</div>
            <div class="panel-body">
                @movie.Description
                <hr />
                <div
                    class="movie-vote-container"
                    data-user-id="@((ViewBag.User != null) ? ViewBag.User.Id : null)"
                    data-movie-id="@movie.Id"
                    data-movie-creator-id="@movie.CreatorId"
                    data-likes="@movie.TotalLikes"
                    data-hates="@movie.TotalHates"
                    data-user-liked="@movie.CurrentUserHasLiked"
                    data-user-hated="@movie.CurrentUserHasHated">
                </div>
                @if(ViewBag.User != null && ViewBag.User.Id == movie.CreatorId)
                {
                    <hr />
                    <p>
                        <a href="@Url.Action("Edit", "Movies", new { id = movie.Id })" class="btn btn-primary">@MessagesResource.Edit</a>
                        <a href="@Url.Action("Delete", "Movies", new { id = movie.Id })" class="btn btn-danger movie-delete">@MessagesResource.Delete</a>
                    </p>
                }
            </div>
            <div class="panel-footer">
                @MessagesResource.PostedBy
                <a href="@Url.Action("ByUser", "Movies", new { id = movie.CreatorId })">@movie.CreatorFullName</a>
                @movie.CreationDate.ToRelativeString()
            </div>
        </div>
    }
    @Html.Partial("Pager", Model)
}
