﻿@model IEnumerable<MovieRama.Core.Models.LanguageModel>

@{
    MovieRama.Core.Models.LanguageModel currentLanguage = (MovieRama.Core.Models.LanguageModel)ViewBag.CurrentLanguage;
}

<div class="dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="/Content/assets/img/flags/@(currentLanguage.Culture).png" alt="@currentLanguage.Name" />
        @currentLanguage.Name
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        @foreach (var language in Model)
        {
            <li>
                <a href="@Url.Action("Edit", "Movies", new { id = ViewBag.MovieId, languageId = language.Id })">
                    <img src="/Content/assets/img/flags/@(language.Culture).png" alt="@language.Name" />
                    @language.Name
                </a>
            </li>
        }
    </ul>
</div>