﻿@model IEnumerable<MovieRama.Core.Models.LanguageModel>

@{
    MovieRama.Core.Models.LanguageModel currentLanguage = (MovieRama.Core.Models.LanguageModel)ViewBag.CurrentLanguage;
}

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="/Content/assets/img/flags/@(currentLanguage.Culture).png" alt="@currentLanguage.Name" />
            @currentLanguage.Name
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @foreach (var language in Model)
            {
                RouteValueDictionary dict = new RouteValueDictionary(Request.RequestContext.RouteData.Values.ToDictionary(d => d.Key, d => d.Value));
                dict["culture"] = language.Culture;
                string url = Url.RouteUrl(dict) + Request.Url.Query;

                <li>
                    <a href="@url">
                        <img src="/Content/assets/img/flags/@(language.Culture).png" alt="@language.Name" />
                        @language.Name
                    </a>
                </li>
            }
        </ul>
    </li>
</ul>
