﻿@model MovieRama.Core.Models.ProfileModel

@{
    ViewBag.Title = MessagesResource.MyProfilePageTitle;
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Partial("ValidationSummary", ViewContext.ViewData.ModelState)
        <div class="form-group">
            @Html.MRLabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 form-control-static">
                @Model.Username
            </div>
        </div>

        <div class="form-group">
            @Html.MRLabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 form-control-static">
                @Model.Email
            </div>
        </div>

        <div class="form-group">
            @Html.MRLabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.MRLabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">@MessagesResource.Update</button>
            </div>
        </div>
    </div>
}